PromotionEngine.App/.vs/PromotionEngine.App/DesignTimeBuild/.dtbcache
PromotionEngine.App/.vs/PromotionEngine.App/v16/.suo
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/db.lock
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide-shm
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide-wal
PromotionEngine.App/PromotionEngine.App/PromotionEngine.App.csproj
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.deps.json
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.exe
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.pdb
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.runtimeconfig.dev.json
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.runtimeconfig.json
PromotionEngine.App/PromotionEngine.App/obj/project.assets.json
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.assets.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.dll
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.exe
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.pdb
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.deps.json
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.dll
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.pdb
PromotionEngine.App/PromotionEngine.BAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.assets.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.dll
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.pdb
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.deps.json
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.dll
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.pdb
PromotionEngine.App/PromotionEngine.DAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.assets.cache
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.dll
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.pdb
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.deps.json
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.IBAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.assets.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.Model/obj/project.assets.json
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.assets.cache
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.pdb
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.pdb
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.Model.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.Model.pdb
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.csproj.CopyComplete
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.Model.dll
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.Model.pdb
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.csproj.CopyComplete
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.Model.dll
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.Model.pdb
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.csproj.CopyComplete
PromotionEngine.App/PromotionEngine.Model/bin/Debug/netcoreapp3.1/PromotionEngine.Model.deps.json
PromotionEngine.App/PromotionEngine.Model/bin/Debug/netcoreapp3.1/PromotionEngine.Model.dll
PromotionEngine.App/PromotionEngine.Model/bin/Debug/netcoreapp3.1/PromotionEngine.Model.pdb
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.dll
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.pdb
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/PromotionEngine.Test.deps.json
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/PromotionEngine.Test.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/PromotionEngine.Test.pdb
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/PromotionEngine.Test.runtimeconfig.dev.json
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/PromotionEngine.Test.runtimeconfig.json
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/testhost.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PromotionEngine.App/PromotionEngine.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PromotionEngine.App/PromotionEngine.Test/obj/project.assets.json
PromotionEngine.App/PromotionEngine.Test/obj/PromotionEngine.Test.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.Test/obj/PromotionEngine.Test.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.Test/obj/PromotionEngine.Test.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.Test/obj/PromotionEngine.Test.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.assets.cache
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.csproj.CopyComplete
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.dll
PromotionEngine.App/PromotionEngine.Test/obj/Debug/netcoreapp3.1/PromotionEngine.Test.pdb
