PromotionEngine.App/.vs/PromotionEngine.App/DesignTimeBuild/.dtbcache
PromotionEngine.App/.vs/PromotionEngine.App/v16/.suo
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/db.lock
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide-shm
PromotionEngine.App/.vs/PromotionEngine.App/v16/Server/sqlite3/storage.ide-wal
PromotionEngine.App/PromotionEngine.App/PromotionEngine.App.csproj
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.deps.json
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.dll
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.exe
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.pdb
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.runtimeconfig.dev.json
PromotionEngine.App/PromotionEngine.App/bin/Debug/netcoreapp3.1/PromotionEngine.App.runtimeconfig.json
PromotionEngine.App/PromotionEngine.App/obj/project.assets.json
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.App/obj/PromotionEngine.App.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.assets.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.dll
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.exe
PromotionEngine.App/PromotionEngine.App/obj/Debug/netcoreapp3.1/PromotionEngine.App.pdb
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.deps.json
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.dll
PromotionEngine.App/PromotionEngine.BAL/bin/Debug/netcoreapp3.1/PromotionEngine.BAL.pdb
PromotionEngine.App/PromotionEngine.BAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.BAL/obj/PromotionEngine.BAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.assets.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.dll
PromotionEngine.App/PromotionEngine.BAL/obj/Debug/netcoreapp3.1/PromotionEngine.BAL.pdb
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.deps.json
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.dll
PromotionEngine.App/PromotionEngine.DAL/bin/Debug/netcoreapp3.1/PromotionEngine.DAL.pdb
PromotionEngine.App/PromotionEngine.DAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.DAL/obj/PromotionEngine.DAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.assets.cache
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.dll
PromotionEngine.App/PromotionEngine.DAL/obj/Debug/netcoreapp3.1/PromotionEngine.DAL.pdb
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.deps.json
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.IBAL/bin/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.IBAL/obj/project.assets.json
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.IBAL/obj/PromotionEngine.IBAL.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.assets.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.csproj.FileListAbsolute.txt
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.csprojAssemblyReference.cache
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.dll
PromotionEngine.App/PromotionEngine.IBAL/obj/Debug/netcoreapp3.1/PromotionEngine.IBAL.pdb
PromotionEngine.App/PromotionEngine.Model/obj/project.assets.json
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.cache
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.dgspec.json
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.g.props
PromotionEngine.App/PromotionEngine.Model/obj/PromotionEngine.Model.csproj.nuget.g.targets
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.AssemblyInfo.cs
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.AssemblyInfoInputs.cache
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.assets.cache
PromotionEngine.App/PromotionEngine.Model/obj/Debug/netcoreapp3.1/PromotionEngine.Model.csprojAssemblyReference.cache
